.navdef {
  width: 100%;
}

.info {
  float: right;
  margin-left: 16px;
  margin-right: 8px;
}

#link-txt {
  color: white;
}

#navbarlogo {
  height: 32px;
  margin-right: 16px;
}

.icona {
  margin-bottom: 20px;
}

.right {
  float: right;
}
