.photo {
  height: auto;
  margin-right: 50px;
  margin-bottom: 50px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.img20 {
  width: 70%;
}

.img25 {
  width: 85%;
}

.img30 {
  width: 100%;
}

.img23 {
  width: 75%;
}

.img35 {
  width: 95%;
}
