/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: trasparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 360px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.blank {
  padding-top: 5%;
}

.info {
  margin-top: 40px;
}

.playlist {
  border: none;
  width: 100%;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.1);
}

.hi {
  font-size: 20px;
  width: 100%;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
