/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: trasparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 360px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.blank {
  padding-top: 10%;
}

.info {
  margin-top: 40px;
}

.goodshelf {
  background-color: #343a40;
}

.playlist {
  border: none;
  width: 100%;
}
