.shelf {
  display: block;
  background: #333;
  max-height: 300px;
  overflow-y: auto;
  height: 270px;
  max-height: 270px;
}

#book-link {
  color: white;
  text-decoration: none;
}

#book-link:hover { color: #999999; }
