.spotlight_photo {
  width: 85%;
  margin: auto;
  display: block;
}

.photo_description {
  margin-top: 100px;
  display: block;
  max-height: 300px;
  overflow-y: auto;
}

#content {
  height: 100%;
}

.space {
  height: 100px;
}
