.spotlight_photo {
  width: 85%;
  margin: auto;
  display: block;
}

.borders {
  border-width:2px !important;
  border-color: black;
}

.photo_description {
  margin-top: 100px;
  display: block;
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 100px;
}

#content {
  height: 100%;
}

.space {
  height: 100px;
}
